body {
    background-image: url("../img/bg.png");
}

#mainContent {
    display: none;
}

.footer {
     position:fixed;
 bottom:0;
 left:0;
 padding-left: 1%;
}

#answers {
        text-align: left;
    font-size: 30px;
    /*cursor: pointer;*/
}

.posAnswer {
    cursor: pointer;
}